@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --gradient: linear-gradient(to right bottom, #3bbcec, #575be5);
  --dark: #082046;
  --semi-dark: #0f2952;
  --light: #fff;
  --link: #1e2ebd;

  /* font-family: "Enriqueta", serif; */

}

.home-background{
  
  background: linear-gradient(
    to right bottom,
    
    rgba(47,84,146, 1),
    rgb(165, 220, 238)
  );
  
  background-size: cover;
  /* filter: blur(5px);
  -webkit-filter: blur(5px); */
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  /* backdrop-filter: blur(3rem); */
}


/* adding font in whole page */
/* for regulat text */
.enriqueta-regular {
  font-family: "Enriqueta", serif;
  font-weight: 400;
  font-style: normal;
}

.enriqueta-medium {
  font-family: "Enriqueta", serif;
  font-weight: 500;
  font-style: normal;
}

.enriqueta-semibold {
  font-family: "Enriqueta", serif;
  font-weight: 600;
  font-style: normal;
}

.enriqueta-bold {
  font-family: "Enriqueta", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto{
  font-family: sans-serif;
}

.signup-background{
  background: url("/images/home-bg.jpg") center no-repeat ;
  position: relative;
  background-size: cover;
  height: 100vh;	
  width: 100%;
  border: 2px transparent;
  /* filter: blur(5px);
  -webkit-filter: blur(5px); */
}