@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

/* body {
  background: #224941 url('./img/bg.jpg') no-repeat center center/cover;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
} */

.background{
  background: #224941 url('/images/bg.jpg') no-repeat center center/cover;
  color: #fff;
}


.four-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left : auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    position: relative;
    transform: scale(1);
  }
  
  /* .circle {
    background-color: #010f1c;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  } */
  .four-circle {
    background-color: #010f1c; /* Color of the circle */
    height: 200px; /* Adjust the height to make it larger */
    width: 200px; /* Adjust the width to make it larger */
    border-radius: 50%; /* Make it a perfect circle */
    position: absolute; /* Position it absolutely within the container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the circle precisely */
    z-index: -1; /* Place it behind other elements */
  }
  
  
  .four-gradient-circle {
    background: conic-gradient(
      #55b7a4 0%,
      #4ca493 40%,
      #fff 40%,
      #fff 60%,
      #336d62 60%,
      #2a5b52 100%
    );
    height: 320px;
    width: 320px;
    z-index: -2;
    border-radius: 50%;
    position: absolute;
    top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  }
  
  .four-pointer {
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
  }
  
  .four-pointer-container {
    position: absolute;
    top: -40px;
    left: calc(50% - 10px);
    width: 20px;
    height: 190px;
    animation: fourrotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
  }
  
  @keyframes fourrotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .four-container.fourgrow {
    animation: grow 3s linear forwards;
  }
  
  @keyframes fourgrow {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.2);
    }
  }
  
  .four-container.fourshrink {
    animation: shrink 3s linear forwards;
  }
  
  @keyframes fourshrink {
    from {
      transform: scale(1.2);
    }
  
    to {
      transform: scale(1);
    }
  }